.container
  .row
    %h3.brown-text 出勤処理はこちらから
    
    .col.s12.m8
      = render 'form'
    
    .col.s12.m4
      .card-panel
        %h5 出勤する場合はこちらから
        %p 出勤者の名前を選択してクルーコードを入力します。
        %p 顔写真を撮影して送信すれば完了です。
