.container
  .row
    .col.s12.m8
      %h5 料金収納
      = render 'form'
    
    .col.s12.m4
      .card-panel 
        %h5 使い方:1
        %p 料金収納業務があった場合はここから登録して下さい。
        %p プライスのところに収納金額を入力すればOK!

